* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
}

ul {
  list-style: none;
  display: flex;
  width: 1128px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 24px 156px 24px 156px;
}

.containerr {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 1440px;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-image {
  object-fit: cover;
  width: 360px;
  height: 200px;
  transition: all ease-in 150ms;
}

.gallery-image:hover {
  scale: 1.05;
}

.modal {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.image-in-modal {
  width: 100%;
}

.basicLightbox__placeholder {
  max-width: 95%;
}
