<div class="favorites-categories">
  <div class="row">
    <div class="categories-container favorites-container">
      <ul class="categories-list favorites-list">
        <li><button class="favorites-btn">All categories</button></li>
        <li><button class="category-btn favorites-btn">Beef</button></li>
        <li><button class="category-btn favorites-btn">Breakfast</button></li>
        <li><button class="category-btn favorites-btn">Chicken</button></li>
        <li><button class="category-btn favorites-btn">Dessert</button></li>
        <li><button class="category-btn favorites-btn">Goat</button></li>
        <li><button class="category-btn favorites-btn">Lamb</button></li>
        <li><button class="category-btn favorites-btn">Miscellaneous</button></li>
        <li><button class="category-btn favorites-btn">Pasta</button></li>
        <li><button class="category-btn favorites-btn">Pork</button></li>
        <li><button class="category-btn favorites-btn">Seafood</button></li>
        <li><button class="category-btn favorites-btn">Side</button></li>
        <li><button class="category-btn favorites-btn">Soup</button></li>
        <li><button class="category-btn favorites-btn">Starter</button></li>
        <li><button class="category-btn favorites-btn">Vegan</button></li>
        <li><button class="category-btn favorites-btn">Vegetarian</button></li>
      </ul>
    </div>
  </div>
</div>
