<!--VEDAT BAŞAK-->
<section class="favorites-errors">
  <h2 class="visually-hidden">errors</h2>
  <div class="row">
    <div class="favorites-errors-icon">
      <svg class="favorites-errors-svg">
        <use href="./img/symbol-defs.svg#icon-elements"></use>
      </svg>
    </div>
    <p class="favorites-errors-msg">
      It appears that you haven't added any recipes to your favorites yet. To
      get started, you can add recipes that you like to your favorites for
      easier access in the future
    </p>
  </div>
</section>
