<section class="foods">
    <div class="container">
        <div class="food-container">
            <ul class="foodsList">
                <li class="foodsList-item">
                    <img src="./img/food.png" alt="" class="foodsList-itemImg">
                      <svg class="foodList-favorite" width="22" height="22">
                    <use href="./img/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    <div class="food-content">
                  
                        </svg>
                        <h3 class="foodContent-title"> BANANA PANCAKES</h3>
                        <P class="foodContent-text">Banana pancakes are a fluffy and sweet breakfast dish made with...</P>
                        <div class="raiting-foodContainer">
                            <div class="raiting-food">
                                <span class="raiting-foodPoint">4.5 <span class="raiting-foodStars">y</span> </span>
                                <button class="raiting-foodButton">See recipe</button>
                            </div>
                        </div>
                    </div>
                </li>
                        <li class="foodsList-item">
                    <img src="./img/food.png" alt="" class="foodsList-itemImg">
                      <svg class="foodList-favorite" width="22" height="22">
                    <use href="./img/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    <div class="food-content">
             
                        </svg>
                        <h3 class="foodContent-title"> BANANA PANCAKES</h3>
                        <P class="foodContent-text">Banana pancakes are a fluffy and sweet breakfast dish made with...
                               </P>
                        <div>
                            <div class="raiting-food">
                                <span class="raiting-foodPoint">4.5 <span class="raiting-foodStars">y</span> </span>
                                <button class="raiting-foodButton">See recipe</button>
                            </div>
                        </div>
                    </div>
                </li>
                        <li class="foodsList-item">
                    <img src="./img/food.png" alt="" class="foodsList-itemImg">
                      <svg class="foodList-favorite" width="22" height="22">
                    <use href="./img/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    <div class="food-content">
                       
                        </svg>
                        <h3 class="foodContent-title"> BANANA PANCAKES</h3>
                        <P class="foodContent-text">Banana pancakes are a fluffy and sweet breakfast dish made with...
                                </P>
                        <div>
                            <div class="raiting-food">
                                <span class="raiting-foodPoint">4.5 <span class="raiting-foodStars">y</span> </span>
                                <button class="raiting-foodButton">See recipe</button>
                            </div>
                        </div>
                    </div>
                </li>
                  <li class="foodsList-item">
                    <img src="./img/food.png" alt="" class="foodsList-itemImg">
                      <svg class="foodList-favorite" width="22" height="22">
                    <use href="./img/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    <div class="food-content">
                                             </svg>
                        <h3 class="foodContent-title"> BANANA PANCAKES</h3>
                        <P class="foodContent-text">Banana pancakes are a fluffy and sweet breakfast dish made with...
                                </P>
                        <div>
                            <div class="raiting-food">
                                <span class="raiting-foodPoint">4.5 <span class="raiting-foodStars">y</span> </span>
                                <button class="raiting-foodButton">See recipe</button>
                            </div>
                        </div>
                    </div>
                </li>
                  <li class="foodsList-item">
                    <img src="./img/food.png" alt="" class="foodsList-itemImg">
                      <svg class="foodList-favorite" width="22" height="22">
                    <use href="./img/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    <div class="food-content">
                                    </svg>
                        <h3 class="foodContent-title"> BANANA PANCAKES</h3>
                        <P class="foodContent-text">Banana pancakes are a fluffy and sweet breakfast dish made with...
                         </P>
                        <div>
                            <div class="raiting-food">
                                <span class="raiting-foodPoint">4.5 <span class="raiting-foodStars">y</span> </span>
                                <button class="raiting-foodButton">See recipe</button>
                            </div>
                        </div>
                    </div>
                </li>
                  <li class="foodsList-item">
                    <img src="./img/food.png" alt="" class="foodsList-itemImg">
                      <svg class="foodList-favorite" width="22" height="22">
                    <use href="./img/symbol-defs.svg#icon-heart"></use>
                        </svg>
                    <div class="food-content">
                      
                        <h3 class="foodContent-title"> BANANA PANCAKES</h3>
                        <P class="foodContent-text">Banana pancakes are a fluffy and sweet breakfast dish made with...
                          </P>
                        <div>
                            <div class="raiting-food">
                                <span class="raiting-foodPoint">4.5 <span class="raiting-foodStars">y</span> </span>
                                <button class="raiting-foodButton">See recipe</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>