<section class="section-hero">

  <div class="hero-container container">
    <div class="hero-left-container">
      <h1 class="hero-title">Learn to Cook <span class="hero-title-span">Tasty Treats'</span> Customizable Masterclass</h1>
      <p class="hero-text">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
      <button id="hero-order-btn"
              class="hero-order-btn"
              type="button">Order now
      </button>
    </div>
    <div class="hero-right-container">
      <ul class="slider-list">
        <li class="slider-list-item">
          <div class="slide">
            <div class="cooker-card cooker-henson"></div>
            <div class="main-card">
              <div class="card-preview barbecue-preview"></div>
              <h2 class="card-title">Grilled, smoky, delicious barbecue</h2>
              <p class="card-nation">Spanish</p>
            </div>
            <div class="card barbecue-imageDish"></div>
          </div>
        </li>

        <li class="slider-list-item">
          <div class="slide">
            <div class="cooker-card cooker-ana"></div>
            <div class="main-card">
              <div class="card-preview pizza-preview"></div>
              <h2 class="card-title">Hot, cheesy and satisfying pizza</h2>
              <p class="card-nation">Italian</p>
            </div>
            <div class="card pizza-imageDish"></div>
          </div>
        </li>

        <li class="slider-list-item">
          <div class="slide">
            <div class="cooker-card cooker-ferran"></div>
            <div class="main-card">
              <div class="card-preview pancake-preview"></div>
              <h2 class="card-title">Grilled, smoky, delicious barbecue</h2>
              <p class="card-nation">Spanish</p>
            </div>
            <div class="card pancake-imageDish"></div>
          </div>
        </li>


      </ul>

      <div class="hero-slider">

      </div>

    </div>

  </div>
</section>

