<section class="popup popup-order">
    <div class="popup-container">
        <div class="popup-header">
            <i class="fa fa-times popup-close" aria-hidden="true"></i>
        </div>

        <div class="popup-content">
            <h3 class="popup-title">ORDER NOW</h3>
            <form action="#" class="popup-order-form">
              <div class="form-row">
                <label for="name">Name</label>
                <input type="text" class="popup-input"  id="name" required>
              </div>
              <div class="form-row">
                <label for="phone-number">Name</label>
                <input type="text" class="popup-input"  id="phone-number" required>
              </div>
              <div class="form-row">
                <label for="email">Name</label>
                <input type="text" class="popup-input"  id="email" required>
              </div>
              <div class="form-row">
                <label for="Comment">Comment</label>
                <textarea name="comment" id="comment-field" class="popup-input"></textarea>
              </div>
              <button class="popup-green-btn">Send</button>
            </form>
        </div>
    </div>
</section>

