<section class="pagination">
    <div class="container">
        <div class="pagination-left">
            <a href="#" class="pagination-btn pagination-btn-black" id="firstPage">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a href="#" class="pagination-btn pagination-btn-black" id="prevPage">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
        </div>

        <div id="paginationContainer" class="pagination-center"></div>

        <div class="pagination-right">
            <a href="#" class="pagination-btn pagination-btn-green" id="nextPage">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <a href="#" class="pagination-btn pagination-btn-green" id="lastPage">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>