<section class="pagination">
    <div class="container">
        <div class="pagination-left">
            <a href="" class="pagination-btn pagination-btn-black">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <a href="" class="pagination-btn pagination-btn-black">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        </div>
        <a href="" class="pagination-btn active">
            1
        </a>
        <a href="" class="pagination-btn">
            2
        </a>
        <a href="" class="pagination-btn">
            3
        </a>
        <a href="" class="pagination-btn">
            ...
        </a>
        <div class="pagination-right">
            <a href="" class="pagination-btn pagination-btn-green">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
        <a href="" class="pagination-btn pagination-btn-green">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
        </div>
    </div>
</section>