<section class="popup popup-raiting">
    <div class="popup-container">
        <div class="popup-header">
            <i class="fa fa-times popup-close" aria-hidden="true"></i>
        </div>
        <div class="popup-content">
            <h3 class="popup-title">Raiting</h3>
            <div class="raiting">
                <span class="raiting-counter">0.0</span>
                <div class="raiting-stars">
                    <i class="fa fa-star popup-star active" aria-hidden="true"></i>
                        <i class="fa fa-star popup-star " aria-hidden="true"></i>
                        <i class="fa fa-star popup-star " aria-hidden="true"></i>
                        <i class="fa fa-star popup-star " aria-hidden="true"></i>
                        <i class="fa fa-star popup-star " aria-hidden="true"></i>
                </div>
            </div>
            <form action="" class="popup-order-form">
              <div class="form-row">
                <label for="name">Name</label>
                <input type="text" class="popup-input"  id="name" required>
              </div>
              <button class="popup-green-btn">Send</button>
            </form>
        </div>
    </div>
</section>

