<form action="" class="search-form">
  <div class="form-group group-text">
    <label for="search-input-text">Search</label>
    <div class="search-text">
      <input type="text" name="search-text" id="search-input-text" placeholder="Enter Text" class="search-input">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
  </div>
  
  <div class="form-group group-time">
    <label for="search-time">Time</label>
    <select name="search-time" id="search-time" class="search-input">
      <option value="10min">10min</option>
      <option value="20min">20min</option>
      <option value="30min">30min</option>
      <option value="40min">40min</option>
    </select>
  </div>
  
  <div class="form-group group-area">
    <label for="search-area">Area</label>
    <select name="search-area" id="search-area" class="search-input">
      <option value="italian">Italian</option>
      <option value="french">French</option>
      <option value="english">English</option>
      <option value="ukrainian">Ukrainian</option>
    </select>
  </div>

  <div class="form-group group-ingredients">
    <label for="search-ingredients">Ingredients</label>
    <select name="search-ingredients" id="search-ingredients" class="search-input">
      <option value="cabbage">Cabbage</option>
      <option value="tomato">Tomato</option>
      <option value="onion">Onion</option>
      </select>
  </div>
</form>

<a href="#" class="form-reset">Reset the Filter</a>