<form action="" class="search-form">
  <div class="form-group group-text">
    <label for="search-input-text">Search</label>
    <div class="search-text">
      <input type="text" name="search-text" id="search-input-text" placeholder="Enter Text" class="search-input">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
  </div>
  
  <div class="form-group group-time">
    <label for="search-time">Time</label>
    <select name="search-time" id="search-time" class="search-input">
      <option value="">All</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
      <option value="60">60</option>
      <option value="70">70</option>
    </select>
  </div>
  
  <div class="form-group group-area">
    <label for="search-area">Area</label>
    <select name="search-area" id="search-area" class="search-input">
      <option value="">All</option>
    </select>
  </div>

  <div class="form-group group-ingredients">
    <label for="search-ingredients">Ingredients</label>
    <select name="search-ingredients" id="search-ingredients" class="search-input">
      <option value="">All</option>
    </select>
  </div>
</form>

<a href="#" class="form-reset">Reset the Filter</a>