<!--VEDAT BAŞAK-->
<aside class="sidebar-populer">
  <div class="container">
    <h2 class="sidebar-populer-title">POPULAR RECIPES</h2>
    <ul class="recipe-list">
      <li class="recipe-list-item">
        <img
          class="recipe-box-img"
          src="./img/french-omelette.png"
          alt="French Omelette"
        />
        <div class="recipe-box">
          <h3 class="recipe-box-title">FRENCH OMELETTE</h3>
          <p class="recipe-box-text">
            A French omelette is a simple yet elegant dish made with whisked
            eggs, butter, salt, and...
          </p>
        </div>
      </li>
      <li class="recipe-list-item">
        <img class="recipe-box-img" src="" alt="Squash Linguine" />
        <div class="recipe-box">
          <h3 class="recipe-box-title">SQUASH LINGUINE</h3>
          <p class="recipe-box-text">
            Squash linguine is a flavorful and nutritious pasta alternative made
            with spiralized squash...
          </p>
        </div>
      </li>
      <li class="recipe-list-item">
        <img class="recipe-box-img" src="" alt="Baked Salmon" />
        <div class="recipe-box">
          <h3 class="recipe-box-title">BAKED SALMON</h3>
          <p class="recipe-box-text">
            Baked salmon is a flavorful and nutritious dish featuring tender and
            moist fillets seasoned with...
          </p>
        </div>
      </li>
      <li class="recipe-list-item">
        <img class="recipe-box-img" src="" alt="Sugar Pie" />
        <div class="recipe-box">
          <h3 class="recipe-box-title">SUGAR PIE</h3>
          <p class="recipe-box-text">
            Sugar pie is a traditional Canadian dessert made with a rich and
            buttery filling of brow...
          </p>
        </div>
      </li>
    </ul>
  </div>
</aside>
