<aside class="sidebar">
      <button class="all-categories-btn">All categories</button>
      <div class="categories-container">
        <ul class="categories-list">
          <li><button class="category-btn">Beef</button></li>
          <li><button class="category-btn">Breakfast</button></li>
          <li><button class="category-btn">Chicken</button></li>
          <li><button class="category-btn">Dessert</button></li>
          <li><button class="category-btn">Goat</button></li>
          <li><button class="category-btn">Lamb</button></li>
          <li><button class="category-btn">Miscellaneous</button></li>
          <li><button class="category-btn">Pasta</button></li>
          <li><button class="category-btn">Pork</button></li>
          <li><button class="category-btn">Seafood</button></li>
          <li><button class="category-btn">Side</button></li>
          <li><button class="category-btn">Soup</button></li>
          <li><button class="category-btn">Starter</button></li>
          <li><button class="category-btn">Vegan</button></li>
          <li><button class="category-btn">Vegetarian</button></li>
        </ul>
      </div>
    </aside>