/* Styles for Mobile devices */
/*.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
/*@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
/*@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}*/

.container{
  max-width: 1080px;
  margin : 0 auto;
}
.homepage > .container{
  display:flex;
  flex-direction: row;
  gap: 64px;
}
.sidebar{
  width: 235px;
}
.content{
  width: 782px;
}
