.favorites-btn{
  color: var(--switch-bg-color);
  background-color: transparent;
  border: 1px solid var(--switch-bg-color);
  font-size: 16px;
  border-radius: 15px;
  height: 48px;
  padding: 15px;
  white-space: nowrap;

}
.favorites-btn:hover{
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  outline: 1px solid var(--btn-bg-color);
  border: 1px solid var(--btn-bg-color);
}
.favorites-list {
  list-style-type: none;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.favorites-container {
  width: 100%;
  height: 418px;
  overflow-y: auto;
  overflow-x: hidden;
}
