.header {
    padding-top: 20px;
}
.mobile-menu {
    display: none;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    gap: 16px;
}
.logo-link {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.64px;
    color: var(--btn-bg-color);
}
.logo-color {
    color: var(--text-color);
}
.header-btn-box {
    display: flex;
    align-items: center;
    gap: 14px;
}
.shopping-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.shopping-icon {
    fill: var(--text-color);
    transition: all .3s ease;
}
.shopping-icon:hover,
.shopping-icon:focus {
    fill: var(--btn-bg-color);
}
.input-switcher[type='checkbox'] {
    height: 0;
    width: 0;
    display: none;
}
.input-label {
    cursor: pointer;
    overflow: hidden;
    width: 46px;
    height: 20px;
    background-color: var(--switch-bg-color);
    color: transparent;
    display: inline-block;
    border-radius: 18px;
    position: absolute;
    inset: 0;
    box-shadow: 0 4px 15px var(--switch-bg-color);
    text-indent: -9999px;
}
.input-label::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
    background-color: var(--btn-text-color);
    border-radius: 18px;
    transition: all 300ms;
    border: 1px solid var(--switch-bg-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.input-switcher:checked+.input-label {
    background: var(--btn-bg-color);
    transition: all 300ms;
}
.input-switcher:checked+.input-label::after {
    transition: all 300ms;
    left: calc(100% - 19px);
    transform: translateX(0);
}
.input-label:active:after {
    width: 26px;
    max-width: 22px;
}
.nav-link{
    color: var(--text-color);
    transition: color .3s ease;
}
.nav-link.active{
    color: var(--second-header-color);
}
.nav-link:hover {
    color: var(--second-header-color);
}
.theme-switcher-js {
    position: relative;
    width: 46px;
    height: 20px;
    margin-top: 5px;
}
.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
}
#burger-menu-icon {
    font-size: 34px;
    display: none;
    color: var(--text-color);
}
#mobile-close {
    align-self: flex-end;
    font-size: 32px;
    color: var(--btn-text-color);
    padding: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
        max-width: 766px;
        margin: 0 auto;
        padding: 32px;
    }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
    .burger-menu,
    #burger-menu-icon {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .mobile-menu {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        background: var(--btn-bg-color);
        width: 50%;
        height: 100%;
        z-index: 999999;
    }
    .mobile-nav-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--btn-text-color);
        text-align: center;
    }
    .mobile-nav-list>.nav-item a {
        color: var(--btn-text-color);
    }
    #mobile-switcher {
        align-self: flex-start;
        padding: 20px;
        margin-left: 20px;
    }
    #lage-switcher {
        display: none;
    }
}