/* PC Settings */
.hero-container {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.hero-left-container {
  max-width: 446px;
  align-content: center;
}

.hero-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--text-color);
}

.hero-title > .hero-title-span {
  font-weight: 400;
  font-style: italic;
  color: var(--second-header-color)
}

.hero-text {
  letter-spacing: 0;
  color: var(--text-color);
  margin-bottom: 32px;
}

.hero-order-btn {
  display: inline-flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 15px;
  border: 1px solid var(--switch-active-color);
  background-color: transparent;
  transition: all 300ms ease;

  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  color: var(--text-color);
  cursor: pointer;
}

.hero-order-btn:hover {
  background-color: var(--btn-bg-color);
  color: var(--second-text-color);
}

.hero-right-container {
  overflow: hidden;
}

.swiper {
  width: 871px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
  display: block;
}

.slider-card {
  display: inline-flex;
  gap: 16px;
}

.cooker-card {
  width: 137px;
  height: 442px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  display: block;
}

.main-card {
  width: 351px;
  height: 442px;
  border-radius: 15px;
  background-color: var(--pagination-bg-color);
  border: 1px solid #9BB5374D;
  background-image: url(./../img/hero-background.png);
  background-size: 110%;
  background-position: center;
}

.card-preview {
  width: 304px;
  height: 271px;
  background-size: cover;
  background-position: center;
  margin: 67px 23px 32px;
}

.card-title {
  width: 278px;
  color: rgba(248, 248, 248, 0.6);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.card-nation {
  width: 48px;
  color: #F8F8F833;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
}

.card {
  height: 442px;
  width: 351px;
  border-radius: 15px;
  background-size: 663px;
  background-position: 45%;
  background-color: var(--pagination-bg-color);
  display: block;
}

.swiper-slide-prev {
  overflow: hidden;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  margin: 22px auto;
}

span.swiper-pagination-bullet {
  opacity: 1;
  background-color: var(--text-color);
}

span.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--second-header-color);
}

/* Table Settings */
@media screen and (max-width: 1279px) {
  .hero-container {
    display: grid;
    justify-content: center;
    gap: 64px;
    margin-top: 95px;
    margin-bottom: 80px;
  }

  .hero-right-container {
    width: 736px;
  }

  .card {
    background-position: 65%;
  }
}

/* Phone Settings */
@media screen and (max-width: 768px) {
  .hero-container {
    display: grid;
    justify-content: center;
    gap: 48px;
    margin-top: 89px;
    margin-bottom: 80px;
  }

  .hero-left-container {
    max-width: 335px;
  }

  .hero-title {
    font-size: 26px;
  }

  .hero-text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 28px;
  }

  .hero-order-btn {
    padding: 10px 20px;

    border-radius: 12px;
  }

  .hero-right-container {
    width: 356px;
    /*height: 302px;*/
  }

  .swiper {
    width: 534px;
  }

  .cooker-card {
    width: 80px;
    height: 280px;
    gap: 8px;
  }

  .main-card {
    width: 200px;
    height: 280px;
  }

  .card-preview {
    width: 157px;
    height: 142px;
    margin: 56px auto 20px;
  }

  .card-title {
    width: 157px;
    font-size: 10px;
    line-height: 14px;
    margin: 0 auto;
  }

  .card-nation {
    width: 30px;
    font-size: 8px;
    line-height: 12px;
  }

  .card {
    height: 280px;
    width: 222px;
    border-radius: 15px;
    background-size: 500px;
    background-position: 65%;
  }

}