.pagination>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    gap: 8px;
}

.pagination-left,
.pagination-right {
    display: flex;
    gap: 8px;
}

#paginationContainer {
    display: flex;
    gap: 8px;
    align-items: center;
}

.pagination-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(5, 5, 5, 0.3);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #050505;
    background: #F8F8F8;
}

.pagination-btn-black {
    background: #F8F8F8;
    color: rgba(5, 5, 5, 0.5);
}

.pagination-btn-green {
    background: #9BB537;
    color: #F8F8F8;
    border: 1px solid #9BB537;
}

.pagination-btn.active {
    background: #9BB537;
    color: #F8F8F8;
    border: 1px solid #9BB537;
}

.pagination-btn:hover:not(.disabled) {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    font-size: 24px;
    color: rgba(5, 5, 5, 0.5);
    padding-bottom: 8px;
    user-select: none;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

@media  (min-width: 350px)and (max-width: 767px){
  .pagination-btn{
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  
}