.search-form{
  display: flex;
  gap:16px;
  flex-wrap: wrap;
}
.search-form label{
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(var(--text-color-rgb),.5);
  margin-bottom: 8px;

}
input,select{
  width: 100%;
}
.search-text{
  position: relative;
}
.search-input{
  padding: 14px 18px;
  border: 1px solid rgba(var(--text-color-rgb),.2);
  border-radius: 15px;
  outline: none;
  position: relative;
  font-size: 16px;
  color: rgba(var(--text-color-rgb),.5);
  background: transparent;
}
.search-input::placeholder{
  font-size: 16px;
  color: rgba(var(--text-color-rgb),.5);
}
.search-text input{
  padding-left: 40px;
}
.search-text i {
  position: absolute;
  left: 16px;
  top: 15px;
  color: rgba(var(--text-color-rgb),.5);
}
.search-select{
  font-size: 16px;
  font-weight: 500;
  
}
.search-select option{
  background-color: var(--bg-color);
  color: var(--text-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.3s;
  color: rgba(var(--text-color-rgb), .5);
  
  
}
.search-select option:checked {
  font-size: 20px;
  color: var(--text-color) !important;
}
.search-select::-webkit-scrollbar {
  width: 7px;
}

.search-select::-webkit-scrollbar-thumb {
  background-color: var(--switch-bg-color);
  border-radius: 10px;
}

.form-reset{
  margin:14px 0;
  display: flex;
  justify-content: end;
  color: rgba(var(--text-color-rgb),.5);
  display: flex;
  align-items: center;
  gap: 8px;
}
.form-reset i {
  color: var(--btn-bg-color);
  font-size: 20px;
}
.group-text{
  width: 278px;
}
.group-time{
  width: 125px;
}
.group-area{
  width: 141px;
}
.group-ingredients{
  width: 188px;
}

/* mobil */
@media  (min-width: 350px)and (max-width: 767px){
  .group-text{
    width: 100%;
  }
  .group-time{
    width: calc((100% - 16px)/2);
  }
  .group-area{
    width: calc((100% - 16px)/2);
  }
  .group-ingredients{
    width: 50%;
  }
  
}