.all-categories-btn{
border: 1px solid rgba(5, 5, 5, 0.2);
border-radius: 15px;
padding: 14px 28px;
width: 174px;
height: 50px;
}
.categories-list {
  list-style-type: none;
  width: 235px;
  height: 416px;
  margin-left: 100px;
}
