
:root{
    --bg-color: #FFFFFF;
    --header-color: #000000;
    --second-header-color: #9BB537;
    --third-header-color : #B4B4B4;
    --text-color :  #050505;
    --text-color-rgb : 5, 5, 5; /*#050505*/
    --second-text-color: #F8F8F8;
    --pagination-bg-color : #050505;
    --pagination-text-grey-rgb : 248,248,248;
    --star-color : #EEA10C;
    --switch-color: #F3F3F340;
    --switch-bg-color: #A09EA099;
    --switch-active-color: #9BB537;
    --btn-bg-color : #9BB537;
    --btn-text-color : #FFFFFF;
}
.dark-theme{
    --bg-color: #1E1E1E;
    --header-color : #FFFFFF;
    --text-color : #FFFFFF;
}

body{
    font-family: "Inter", sans-serif;
}